<!DOCTYPE html>
<html>

<head>
  <title>Weather App</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="bg">
    <div class="searcharea">
      <div id="form">
        <form action="/submit" method="get">
          <input type="text"name="city"placeholder="Enter City Name">
          <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
      <h4>Weather Details</h4>
      <div class="details">
        <ul>
          <li>Description</li>
          <li>Max Temp</li>
          <li>Min Temp</li>
        </ul>
        <ul>
          <%if(data){%>
            <li><%= data.weather[0].description%></li>
            <li><%= data.main.temp_max%><span>&#176;</span>C</li>
            <li><%= data.main.temp_min%><span>&#176;</span>C</li>
            <%}%>
        </ul>
      </div>
    </div>
    <nav>
      <h3>Weather App <i class="fa-solid fa-cloud"></i> </h3>
    </nav>
    <div id="content">
     <%if(data){%>
      <h1><%= data.main.temp%><span>&#176;</span>C</h1>
      <br>
      <h2><%= data.name%></h2>
      <%}%>
    </div>
  </div>
</body>

</html>